<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-8">
                <table class="table table-dark table-hover">
                    <tr align="center">
                        <th>Roll</th>
                        <th>Name</th>
                        <th>City</th>
                        <th colspan="2">Modification</th>
                    </tr>
                    {% for i in obj %}
                        <tr align="center">
                            <td>{{i.roll}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.city}}</td>
                            <td><button class="btn btn-warning"><a href="{% url 'update' i.id %}">Edit</a></button></td>
                            <td><button class="btn btn-danger"><a href="{% url 'delete' i.id %}">Delete</a></button></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>